<li><a href="<%- url_for("/work/") %>" class="nav-link<%- page.path.match(/work/) ? ' current' : '' %>">提交项目需求</a></li>
<li><a href="<%- url_for("/services/") %>" class="nav-link<%- page.path.match(/services/) ? ' current' : '' %>">服务项目</a></li>
<li><a href="<%- url_for("/archives/") %>" class="nav-link<%- page.path.match(/archives/) ? ' current' : '' %>">动态</a></li>
<li><a href="<%- url_for("/case/") %>" class="nav-link<%- page.path.match(/case/) ? ' current' : '' %>">客户案例</a></li>
<li><a href="<%- url_for("/contact/") %>" class="nav-link<%- page.path.match(/contact/) ? ' current' : '' %>">联系我们</a></li>
<li><a href="<%- url_for("/about/") %>" class="nav-link<%- page.path.match(/about/) ? ' current' : '' %>">关于团队</a></li>
